<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>


    <div id="app">
        <div class="box-verde">
            
            <div class="container">
                    
                <div class="sez-sinistra clearfix">
                    

                    <div class="nav-sx clearfix">
                        <img src="img/Img/avatar_io.jpg" alt="">
                        <h2>Giorgia Rossi</h2>
                    </div>

                    <div class="nav-dx clearfix">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                    <div class="notification clearfix">
                        <i class="far fa-bell-slash"></i>

                        <div class="sez-notifiche">
                            <p>Ricevi notifiche dei nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>

                    </div>

                    <div class="sez-cerca">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    
                    <div class="box-contatti">
                        <div class="contatti" v-for="(elemento, index) in contacts" @click="newUser(elemento,index)">
                            <div class="img-contatti">
                                <img v-bind:src="'img/Img/avatar' + elemento.avatar + '.jpg'" alt="avatar">
                            </div>
                            <h2>{{elemento.name}}</h2>
                        </div>
                    </div>
                        

                    
                </div>


                <div class="sez-destra clearfix">
                    <div class="main-top">
                        <img :src="'img/Img/avatar' + contacts[this.count].avatar + '.jpg'" alt="">
                        <div class="contatto-attivo">
                            <h2>{{contacts[this.count].name}}</h2>
                            <p>Ultimo accesso oggi alle</p>
                        </div>
                        <div class="pannello-controllo">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    
                    <div class="main-mid">
                        <div v-for="(elemento, index) in contacts[this.count].messages">
                            <div v-if="elemento.status == 'received'" class="answer">
                                <div class="messaggio">
                                    <i class="fas fa-paperclip"></i>
                                    {{elemento.text}}

                                </div>

                                <div class="data">
                                    {{elemento.date}}
                                </div>
                                
                            </div>
                            <div v-else class="received" >
                                <div class="messaggio-risp">
                                    {{elemento.text}}
                                </div>
                                
                                <div class="data">
                                    {{elemento.date}}
                                </div>
                            </div>

                        </div>


                    </div>

                    <footer>

                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Inserisci un messaggio" @keyup.enter="addMex" v-model="nuovoMex">
                        <i class="fas fa-microphone"></i>

                    </footer>
                </div>
            </div>
            
        </div>
        
    </div>
    





    <script src="js/script.js"></script>
</body>
</html>